In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr

In [ ]:
spark=SparkSession.builder.appName("Estadisticas").getOrCreate()

In [ ]:
spark.stop()

In [ ]:
spark

In [94]:
ALUM_UNI= spark.read.csv("/content/sema13333.csv",header=True,sep=";",inferSchema=True,nullValue="NULL",encoding="UTF-8")

In [95]:
ALUM_UNI.show()

+--------+----+----+
| Alumnos|  T1|  T2|
+--------+----+----+
|  Héctor|  20|   7|
|Verónica|  11|  12|
|  Carlos|  12|  14|
|    Raúl|  16|  15|
| Beatriz|  12|   6|
|  Andrés|  18|   4|
|Patricia|  18|   3|
|    Iván|  19|   4|
|   Oscar|  13|  12|
| Bárbara|  14|  16|
|    José|  20|  18|
| Mariana|  11|  19|
|    NULL|NULL|NULL|
+--------+----+----+

In [119]:
from pyspark.sql import functions as Fila
ALUM_UNI_MODA= ALUM_UNI.groupBy("T1").count().orderBy(Fila.desc("count")).first()
print("moda_nota1:",ALUM_UNI_MODA)

moda_nota1: Row(T1=12, count=2)

In [120]:
ALUM_UNI_MODA2= ALUM_UNI.groupBy("T2").count().orderBy(Fila.desc("count")).first()
print("moda_nota2:",ALUM_UNI_MODA2)

moda_nota2: Row(T2=12, count=2)